* , *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  
  }

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

  :root{


    /* Global Colors */
    --color-slate-950: #020617;
    --color-zinc-50:#fafafa;
    --color-Amber-400 : #fbbf24;
    --color-blue-700 : #1d4ed8;

    /* border colors */
    --color-slate-400: #94a3b8;


    /* Layer Properties */
    --container-width-lg:90%;
    --container-width-md:90%;

    
  }

  .container{
    padding-top: 2rem;
  }

  .main__container{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .custom__container{
    width : var(--container-width-lg);
    max-width:1280px;
    margin-inline: auto;

  }

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  font-size: 16px;
}
.lato-regular_footer {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  font-size: 16px;
  color: #fafafa;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width :768px) {
  .lato-regular{
    font-size: 14px;
  }

  .lato-bold{
    font-size: 18px;
  }


}